/*-------------------------
    Simple reset
--------------------------*/


/*-------------------------
    General Styles
--------------------------*/
th{
    background-color: #3c8dbc;
}



.ui-progressbar .ui-progressbar-value {
    margin: 0px;
    height: 100%;
    width: 600px;
}

.ui-progressbar {
    position: relative;
}
.progress-label {
    position: absolute;
    left: 40%;
    top: 0px;
    font-weight: bold;
}

#progressbar .ui-progressbar-value {
    background-color: #18bc9c;
}

h1{
    color: #ffffff;
    background-color: #3c8dbc;
}

input.chk-btn {
    display: none;
}
input.chk-btn + label {
    border: 1px solid grey;
    background: blue;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 5px;
}
input.chk-btn:not(:checked) + label:hover {
    box-shadow: 0px 1px 3px;
}
input.chk-btn + label:active,
input.chk-btn:checked + label {
    box-shadow: 0px 0px 3px inset;
    background: #eee;
}


.btn-radio {
    width: 93%;
}
.img-radio {
    opacity: 0.5;
    margin-bottom: 8px;
}


.space-20 {
    margin-top: 20px;
}

.nav>li.disabled>a {
    color: rgb(255, 142, 142);
}

.nav-pills>li.active>a {
    color: #ffffff;
    background-color: #3c8dbc;
}

.well{
    background-color: #ffffff;
    color : black;
}

a, a:visited {
    outline:none;
    color:rgb(0, 255, 85);
}

a:hover{
    text-decoration:none;
}

.custom-header {
    text-align: center;
    padding: 3px;
    background: #18bc9c;
    color: #FFF;
    font-family:'Titillium Web', sans-serif;
    font-size: 14px;
}

.modal-content {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 6px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 40px rgba(0,0,0,.5);
    box-shadow: 0 0 40px rgba(0,0,0,.5);
    color: #000;
    background-color: #fff;
    border: rgba(0,0,0,0);
}
.modal-message .modal-dialog {
    width: 300px;
}
.modal-message .modal-body, .modal-message .modal-footer, .modal-message .modal-header, .modal-message .modal-title {
    background: 0 0;
    border: none;
    margin: 0;
    padding: 0 20px;
    text-align: center!important;
}

.modal-message .modal-title {
    font-size: 17px;
    color: #18bc9c;
    margin-bottom: 3px;
}

.modal-message .modal-body {
    color: #737373;
}

#type{
    width:150px;
}

#type option{
    width:50px;
}

#separator{
    width:100px;
    text-indent: 0px;
}

#separator option{
    width:100px;
}

#numberline{
    width:10px;
}





/*----------------------------
    The file upload form
-----------------------------*/









