/*-------------------------
    Simple reset
--------------------------*/


/*-------------------------
    General Styles
--------------------------*/


body{
    font:15px/1.3 Arial, sans-serif;
    color: rgb(24, 188, 156);
    margin-top:100px;
}

a, a:visited {
    outline:none;
    color:#389dc1;
}

a:hover{
    text-decoration:none;
}



/*----------------------------
    The file upload form
-----------------------------*/









