
@import views.formdata.EditPassword
@import batch.model.User
@(form: Form[EditPassword],user : User)
@main2("ITN Security",user) {
  <div class="container">

    <div class="row">
      <div class="col-xs-4"></div>
      <div class="col-xs-4">
        <p class="login-box-msg"> Edit Your Password </p>

        @helper.form(routes.Application.editPassword) {

          @if(form.hasGlobalErrors) {
            <p class="error">
              <span class="label label-danger">@form.globalError.message</span>
            </p>
          }

          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Ancien Mot de Passe" name="exPassword" value="@form("exPassword").value">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>

          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Nouveau Mot de passe" name="password" value="@form("password").value">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>

          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Confirme Nouveau Password" name="comfirmedPassword" value="@form("comfirmedPassword").value">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>

          <button type="submit" class="btn btn-danger btn-block btn-flat">Edit My Password </button>
        </div>
      <div class="col-xs-4"></div>
    </div>
  </div>

}
}