@(paramForm: Form[views.formdata.ParamFormData],
        columns:    Map[String,Boolean],
        types :     Map[String,Boolean]
)
@import views.html.bootstrap3._

<fieldset>
  <!-- Header -->

    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Parameters Data</h2>
            <hr class="star-primary">
        </div>
    </div>

    <div id="legend">
        @text(paramForm("tableName"),
            placeholder = "Name of table",
            label="Table Name",
            help = " TABLE NAME Please enter the table Name . (required)",
            isID=false
        )
    </div>

    <table class="table">
        <thead>
            <tr>

                <th >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Id</th>

                <th >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Colomun Name</th>

                <th >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Colomun Type *</th>


                <th >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Colomun Selected *</th>


            </tr>
        </thead>
        <tbody>

        @helper.repeat(paramForm("rows"),min = columns.size()) { row =>
            <tr>
                <td>

                    @text(row,
                        label = "",
                        placeholder = "",
                        help = "",
                        isID=true,
                        champForm = ".id"
                    )
                </td>

                <td>
                    @select(row,
                        optionMap = columns,
                        isMultiple = false,
                        help = "Select the Column name. (required)",
                        champForm = ".name")
                        <!-- name -->
                </td>

                <td>
                    @select(row,
                        optionMap = types,
                        isMultiple = false,
                        help = "Select the type name. (required)",
                        champForm =".type")
                        <!-- name -->
                </td>

                <td>
                @checkboxe(row,
                    help = "Select if you want to persist. (optional)",
                    champForm = ".selected")
                </td>
            </tr>
        }
            </tbody>
        </table>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10" style="margin: 0 0 0 0;">
      <button id="submit" type="submit" value="Submit" class="btn btn-primary">Submit</button>
      <button id="cancel" class="btn cancel">Cancel</button>
    </div>
  </div>
</fieldset>
