@(paramForm: Form[views.formdata.ParamFormData],
        separators:    Map[Character,Boolean]
)
@import views.html.bootstrap3._

<fieldset>
  <div class="container">
    <div class="row setup-content" id="step-1">
      <div class="col-xs-12">
        <div class="col-md-12 well text-center">
          <h1> Paremeter File</h1>
        </div>
<div class="panel panel-default">
  <div class="panel-body">
    <form action="@routes.UploadController.upload()" method="POST">
                                    Separators :
      @select(paramForm("separator"),
        optionMap = null,
        isMultiple = false,
        help = "Select the Separator for your file. (required)",
        optionMap1 = separators
      )
      @text(paramForm("numberLine"),
        placeholder = "Number Line to switch",
        label="Nombre de line",
        help = " Please enter the number of line to switch . (required)",
        isID=false,
        champForm="number"
      )
      <!-- <input id="activate-step-2" type="submit" class="btn btn-primary btn-lg"/>-->
      <input type="submit" id="activate-step-2" class="btn btn-primary btn-lg"  >
    </form>
  </div>
</div>
        </div>
        </div>
</fieldset>