@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@import batch.model.User
@(user: User)
@main2("Acceuil ITN",user) {
@*
* Get an `Html` object by calling the built-in Play welcome
* template and passing a `String` message.
*@
<!-- Navigation -->
 <div class="row">
  <div class="col-md-3">
   <div class="small-box bg-aqua">
    <div class="inner">
     <h3>@user.total_jobs</h3>
     <p>ALL MY JOB</p>
    </div>
    <div class="icon">
     <i class="ion ion-eye"></i>
    </div>
    <a id="allJobs" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
   </div>
  </div>
  <div class="col-md-3">
   <div class="small-box bg-green">
    <div class="inner">
     <h3>@user.job_completed<sup style="font-size: 20px"></sup></h3>
     <p>Job Completed</p>
    </div>
    <div class="icon">
     <i class="ion ion-trophy"></i>
    </div>
    <a id="allMyJobCompleted" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
   </div>
   </div>

  <div class="col-md-3">

   <div class="small-box bg-yellow">
    <div class="inner">
     <h3>@user.job_abondonned</h3>
     <p>JOB ABONDONNED</p>
    </div>
    <div class="icon">
     <i class="ion ion-sad-outline"></i>
    </div>
    <a id="allMyJobAbondonned" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
   </div>

  </div>

   <div class="col-md-3">
    <div class="small-box bg-red">
     <div class="inner">
      <h3>@user.job_failed</h3>
      <p>Job Failed</p>
     </div>
     <div class="icon">
      <i class="ion ion-social-freebsd-devil"></i>
     </div>
     <a id="allMyJobFailed" class="small-box-footer">More info<i class="fa fa-arrow-circle-right"></i></a>
    </div>
   </div>
  </div>
<div class="row">
 <!-- PRODUCT LIST -->
 <div class="col-xs-12">
  <div class="box box-info">
   <div class="box-header with-border">
    <h3 class="box-title"> Les derniers Jobs paramétrer </h3>

    <div class="box-tools pull-right">
     <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
     </button>
     <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
   </div>
    <!-- /.box-header -->
   <div class="box-body">

     <table id="latestTabId" class="table table-striped" cellspacing="0" width="100%" style="font-size:15px;">
      <thead>
       <tr>
        <th > Date Création</th>
        <th > File </th>
        <th>Nb line skiped</th>
        <th > Table </th>
        <th > Date Lancement</th>
        <th > Executed by </th>
        <th >  Resultat </th>
        <th >Nombre de lines ajouter</th>
        <th >Nombre de lines Non ajouter </th>
        <th > Lancer  </th>
        <th > Supprimer  </th>
        <th > More Détail  </th>
       </tr>
      </thead>
      <tbody id="latestTab">
      </tbody>
     </table>
     <!-- /.table-responsive -->
   </div>
    <!-- /.box-body -->
   <div class="box-footer clearfix">
    <button id="showAllTables" class="btn btn-sm btn-default btn-flat pull-right">View All Tables</button>
   </div>
    <!-- /.box-footer -->
  </div>
  </div>
</div>












 <div id="myModalx" class="modal modal-fullscreen fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog " style="width:1124px;">
   <div class="modal-content">
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal">
      <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
     </button>
     <h4 class="modal-title" id="myModalLabel">Report de batch </h4>
    </div>
    <div class="modal-body" id="resume">

    </div>
 </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
   </div>
 </div>
 </div>


 <div id="myModalxy" class="modal modal-fullscreen fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog " style="width:1124px;">
   <div class="modal-content">
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal">
      <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
     </button>
     <h4 class="modal-title" id="myModalLabel">Report de batch </h4>
    </div>
    <div class="modal-body" id="resume1">

    </div>
   </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
   </div>
  </div>
 </div>

}