@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@import batch.model.User
@(user: User)
@main2("Acceuil ITN",user) {
@*
* Get an `Html` object by calling the built-in Play welcome
* template and passing a `String` message.
*@
<!-- Navigation -->

 <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">
   <div class="small-box bg-green">
    <div class="inner">
     <h3>53<sup style="font-size: 20px"></sup></h3>
     <p>Job Completed</p>
    </div>
    <div class="icon">
     <i class="ion ion-stats-bars"></i>
    </div>
    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
   </div>
   </div>
   <div class="col-md-5">
    <div class="small-box bg-red">
     <div class="inner">
      <h3>0</h3>
      <p>Job Failed</p>
     </div>
     <div class="icon">
      <i class="ion ion-pie-graph"></i>
     </div>
     <a href="#" class="small-box-footer">More info<i class="fa fa-arrow-circle-right"></i></a>
    </div>
   </div>
  </div>

<div class="row">
 <!-- PRODUCT LIST -->
 <div class="col-md-1"></div>
 <div class="col-md-10">
  <div class="box box-info">
   <div class="box-header with-border">
    <h3 class="box-title">Latest Table Created </h3>

    <div class="box-tools pull-right">
     <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
     </button>
     <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
   </div>
    <!-- /.box-header -->
   <div class="box-body">
    <div class="table-responsive">
     <table id="latestTabId" class="table no-margin" >
      <thead>
       <tr>
        <th>ID</th>
        <th>Table Name</th>
        <th>Show </th>
       </tr>
      </thead>
      <tbody id="latestTab">

      </tbody>
     </table>
    </div>
     <!-- /.table-responsive -->
   </div>
    <!-- /.box-body -->
   <div class="box-footer clearfix">
    <button id="showAllTables" class="btn btn-sm btn-default btn-flat pull-right">View All Tables</button>
   </div>
    <!-- /.box-footer -->
  </div>
  </div>
</div>

}