@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@(paramForm: Form[views.formdata.ParamFormData],
        cols :List[String],
        types :List[String],
        separators : List[String]

        )
@import views.html.bootstrap3._

@main("TITLE") {
@*
* Get an `Html` object by calling the built-in Play welcome
* template and passing a `String` message.
*@

<!-- Navigation -->

    <div class="container">
            <!--<div class="col-sm-10 col-md-4"></div>
                <div class="col-sm-10 col-md-4">
            <img src="@routes.Assets.versioned("images/logo.png")" class="img-responsive" alt="Responsive image"/>
                    </div>
                <div class="col-sm-10 col-md-4"></div>-->

        <div class="row form-group">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                    <li class="active"><a href="#step-1" >
                        <h4 class="list-group-item-heading">Step 1</h4>
                        <p class="list-group-item-text">File configuration</p>
                    </a></li>
                    <li class="disabled"><a href="#step-2" >
                        <h4 class="list-group-item-heading">Step 2</h4>
                        <p class="list-group-item-text">Data configuration</p>
                    </a></li>
                    <li class="disabled"><a href="#step-3" >
                        <h4 class="list-group-item-heading">Step 3</h4>
                        <p class="list-group-item-text">Validation configuration</p>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="row setup-content" id="step-1">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-md-12 well text-center" style="margin-bottom: 0px">
                    <h1> STEP 1</h1>
                    <form id="form" action="@routes.UploadController.cols()" method="POST">
                        @select(paramForm("separator"),
                            optionMap = separators,
                            isMultiple = false,
                            help = "Select the Separator for your file. (required)",
                            champForm = ""
                        )
                        <div class="col-md-12 well text-center" style="min-height: 190px;">
                        @text(paramForm("numberLine"),
                            placeholder = "Number Line to switch",
                            label="Nombre de line :",
                            help = " Please enter the number of line to switch . (required)",
                            isID=false,
                            champForm="number"
                        )
                        </div>
                        <div class="row">
                        <div class="col-sm-2 col-md-4">
                        </div>
                        <div class="col-sm-offset-0 col-sm-2 col-md-2">
                            <button id="all" class="button btn-primary">Select All</button>
                        </div>
                        <div class="col-sm-offset-0 col-sm-2 col-md-2">
                            <button id="none" class="button btn-danger">Deselect All</button>
                        </div>
                        <div class="col-sm-4 col-md-4">
                        <button id="validate" class="btn btn-primary btn-lg"  type="submit" style="padding: 10px 70px;
                            font-size: 19px;
                            line-height: 1.333333;
                            border-radius: 80px;
                            margin-left: 150px";>Valider</button>
                        </div>
                        </div>
                        </form>
                    <form id="form2" action="@routes.UploadController.upload()" method="post">
                        <div class="form-group">
                        <div class="col-md-12 well text-center">
                            <div class="col-sm-10 col-md-4">
                            <label class="control-label">Selectionner les colonnes</label>
                             </div>
                            <div class="col-sm-10 col-md-4">
                        <select class="searchable" id="cols" name="cols[]" multiple="multiple">

                        </select>
                            </div>
                            <div class="col-sm-10 col-md-4">
                                    <span class="help-block" style="color: #18bc9c">Required Columns !</span>
                            </div>
                        </div>
                        </div>
                        <!-- <input id="activate-step-2" type="submit" class="btn btn-primary btn-lg"/>
                        <input type="submit" id="activate-step-2" class="btn btn-primary btn-lg"  >-->
                        <div class="col-sm-10 col-md-8">
                        </div>
                        <div class="col-sm-10 col-md-4">
                        <button id="activate-step-2" class="btn btn-primary btn-lg" type="submit" style="padding: 10px 70px;
                            font-size: 19px;
                            line-height: 1.333333;
                            border-radius: 80px;
                            margin-left: 150px";
                        >Continuer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-2">
            <div class="col-xs-12">
                <div class="col-md-12 well">
                    <h1 class="text-center"> STEP 2</h1>
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <form id="form1" action="@routes.UploadController.getTypes" method="POST">
                                <div class="col-sm-10 col-md-4">
                                    <label>Table Name</label>
                                    </div>
                                <div class="col-sm-10 col-md-4">
                                <input type="text" class="form-control" id="table" name="table" value="" placeholder="Table Name"/>
                                    </div>
                                <div class="col-sm-10 col-md-4">
                                    <span class="help-block" style="color: #18bc9c"></span>
                                </div>
                            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th >Id</th>
                                        <th > Name</th>
                                        <th > Type </th>
                                        <th > Size</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th >Id</th>
                                    <th > Name</th>
                                    <th > Type </th>
                                    <th > Size</th>
                                </tr>
                                </tfoot>
                                <tbody id="tableaucontenus1">
                                </tbody>
                            </table>
                                <button id="activate-step-3" class="btn btn-primary btn-lg">Activate Step 3</button>
                                </form>
                        </div>

                    </div>


                </div>
            </div>
                </div>
        <div class="row setup-content" id="step-3">
            <div class="col-xs-12">
                    <h1 class="text-center"> STEP 3</h1>
                    <div class="panel panel-default">
                        <div class="panel-body">
                    <form action="@routes.UploadController.validate()" method="post">
                    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th >Id</th>
                                <th >Colomun Name</th>
                                <th >Colomun Type </th>
                                <th > Size </th>
                            </tr>
                        </thead>
                    <tfoot>
                        <tr>
                            <th >Id</th>
                            <th > Column Name</th>
                            <th > Column Type </th>
                            <th > Size </th>
                        </tr>
                    </tfoot>

                        <tbody id="tableaucontenus2">
                        </tbody>
                    </table>
                    <button id="activate-step-4" class="btn btn-primary btn-lg">Validate</button>
                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>


}



