@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@import batch.model.User
@(user: User)
@main2("ITN MIGRATION",user) {
@*
* Get an `Html` object by calling the built-in Play welcome
* template and passing a `String` message.
*@
<!-- Navigation -->

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color: #3c8dbc;"> <h1 style="margin: 1px;margin-left: 350px;">Fichier CSV </h1> </div>
<div class="panel-body">
        <div class="row form-group">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <ul class="nav nav-pills nav-justified thumbnail setup-panel" style="rgb(255, 255, 255);">
                    <li class="active first_element_to_target"><a   id="step111" href="#step-1" >
                        <h4 class="list-group-item-heading"> Première étape </h4>
                        <p class="list-group-item-text">Configuration du fichier</p>
                    </a></li>
                    <li id="step22" class="disabled "><a  id="step222" href="#step-2" >
                        <h4 class="list-group-item-heading"> Deuxième étape </h4>
                        <p class="list-group-item-text">Configuration des données</p>
                    </a></li>
                        <!--<li id="step33" class="disabled"><a id="step33" href="#step-3" >
                        <h4 class="list-group-item-heading">Step 3</h4>
                        <p class="list-group-item-text">Validation configuration</p>
                    </a></li>-->
                </ul>
            </div>
        </div>
        <div class="row setup-content" id="step-1">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-md-12 well" style="background-color: #ffffff;">
                    <div class="text-center data-block" style="padding-bottom: 25px">
                    <h1> Configuration du Fichier </h1>
                     </div>
                    <form class="form-horizontal" id="form00" name="form00" action="@routes.Application.csvHeader()" method="POST">
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2" style="color: black;" for="filePath">Chemin du fichier</label>
                            <div class="col-xs-12 col-sm-7">
                                <div class='input-group'>
                                    <span class='input-group-addon'> <i class="fa fa-file"></i></span>
                                    <input type="text" class="form-control" id="filePath" name="filePath" placeholder="\\itnsa.net\path\file...">
                                </div>
                            </div>
                            <div class="col-sm-offset-0  col-sm-3">
                                <span class="help-block" style="color:#ffffff;" > Veuillez entrer le chemin du fichier</span>
                            </div>
                        </div>
                        <div class="form-group" id="separatorForm">
                            <label  class="control-label col-xs-12 col-sm-2" style="color: black;" for="separator"> Séparateur :</label>
                            <div class="col-xs-12 col-sm-2">
                                <div class='input-group'>
                                    <span class='input-group-addon'> <i class="fa fa-eyedropper" aria-hidden="true"></i></span>
                                    <select
                                    class="form-control"
                                    id="separator"
                                    name="separator">
                                        <option class="blank"  value=";">;</option>
                                        <option id="separator[0]",name="separator[0]" title="point virgule" value=";">;</option>
                                        <option id="separator[1]",name="separator[1]" title="virgule" value=",">,</option>
                                        <option id="separator[2]",name="separator[2]" title="deux points" value=":">:</option>
                                        <option id="separator[3]",name="separator[3]" title="pipe" value="|">|</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <span class="help-block" style="color:#ffffff;">Veuillez séléctionner un séparateur !</span>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <span class="help-block" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group" id="numberlineForm">
                            <label  class="control-label col-xs-12 col-sm-2"    style="color: black;" for="numberLine">Nombre de ligne à Sauter :</label>
                            <div class="col-xs-12 col-sm-2">
                                <div class='input-group'>
                                    <span class='input-group-addon'> <i class="fa fa-scissors" aria-hidden="true"></i></span>
                                    <input
                                    type="number"
                                    class="form-control"
                                    id="nbLineToSkip"
                                    name="nbLineToSkip"
                                    value=""
                                    placeholder="Number of lines to Switch"
                                    min="1"
                                    max="99999"
                                    style="width: 120px;"
                                    />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <span class="help-block" style="color:#ffffff;">Pleaze Give us number of line to switch included the row of columns required !!</span>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <span class="help-block" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group" id="entetecsv">
                            <div class="col-xs-12">
                                <div class="col-xs-2"></div>
                                <div class="col-xs-5">
                                <label style="color: black;margin-right: 20px;"> Est ce que votre fichier contient un entete ? </label>
                                    <input id="entete" name="entete" type="checkbox" checked=""  data-on-text="Yes"  data-off-text="No">
                                    </div>
                            </div>
                            </div>
                        <div id="csvNoHead" class="row">
                            <div class="col-xs-12 col-sm-2"></div>
                            <div class="col-xs-12 col-sm-8">
                                <table class="stripe row-border order-column" cellspacing="0" width="100%" id="csvTableNoHead" name="csvTableNoHead">
                                    <thead style="background: #3c8dbc;">
                                        <tr>
                                            <th> Nom de la Colonne </th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody id="csvTableNoHeadContenu">
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-12 col-sm-2"></div>
                        </div>

                        <button id="validate" class="btn btn-primary btn-success pull-right eight_element_to_target"  type="submit" style="padding: 10px 70px;background-color: #3c8dbc;"><span class='glyphicon glyphicon-ok'>&nbsp;Valider&nbsp;</span></button>
                        </form>

                    <form id="form2" name="form2" action="@routes.Application.csvHeaderColsSelected()" method="post">
                        <div id="columns" class="col-md-12 well" style="background-color: rgb(255, 255, 255);margin-top: 20px;padding-top: 0px; ">
                            <div class="text-center" style="padding-bottom: 25px;padding-top: 25px;">
                                <h1> Selection Columns </h1>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 ">
                                    <div class="col-sm-offset-3 col-sm-4">
                                        <button id="all" class="button btn-success" style="background-color: #3c8dbc;" ><span class="fa fa-exchange" aria-hidden="true"></span>
                                            <span class="sr-only">Selectioner tout:</span>Selectioner tout</button>
                                    </div>
                                    <div class="col-sm-offset-1 col-sm-3">
                                    </div>
                                </div>
                                <div class="col-sm-3 ">
                                    <button id="none" class="button btn-danger" ><span class="fa fa-exchange" aria-hidden="true"></span>
                                        Deselectionnez Tout</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <select class="searchable fifth_element_to_target" id="cols" name="cols[]" multiple="multiple">
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                </div>
                                <div class="col-sm-4 ">
                                </div>
                            </div>
                            </div>
                        <button id="activate-step-2" class="btn btn-success pull-right" type="submit" style="padding: 10px 10px;
                            font-size: 19px;
                            line-height: 1.333333;
                            border-radius: 80px;
                            margin-top: 60px;
                            background-color: #3c8dbc;
                            margin-left: 150px;"
                        ><span class='glyphicon glyphicon-circle-arrow-right ten_element_to_target'>&nbsp;Continuer&nbsp;</span></button>
                        </form>
                        <div class="col-sm-2 col-md-4">
                        </div>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-2">
                <div class="well">
                    <h1 class="text-center" style="padding-bottom: 25px"> Mapping Configuration</h1>
                    <div class="panel panel-default">
                            <form id="form1" name="form1" action="@routes.Application.getTypes" method="POST">
                                <div class="panel-body well">
                                    <div class="form-group seve_element_to_target">
                                        <label id="table" class="control-label col-xs-12 col-sm-offset-1 col-sm-1" style="color: black;" for="tableName">Table</label>
                                        <div class="col-xs-12 col-sm-3">
                                            <div class='input-group'>
                                                <span class='input-group-addon'> <i class="fa fa-table"></i></span>
                                                <input type="text" class="form-control" id="tableName" name="tableName" value="" placeholder="Table Name">
                                            </div>
                                        </div>
                                        <div class="col-sm-offset-0  col-sm-3">
                                            <span id="tableSpan" class="" style="color:black;" > Please enter the table Name . (required)</span>
                                        </div>

                                        <div class="col-sm-offset-0  col-sm-1">
                                            <button class="btn btn-default consulter" id="consulter" tooltip="consulter" disabled><span class="fa fa-eye"></span></button>
                                        </div>

                                        <div class="col-sm-offset-0  col-sm-3" id="dropTab">
                                            <span class="">
                                                <label style="color: black;margin-right: 20px;">Supprimer Table</label>
                                                <input id="dropTable" type="checkbox" checked="">
                                            </span>
                                        </div>
                                    </div>

                                </div>

                           <div class="table-responsive" style="margin-top: 20px">
                            <table class="table table-bordered" id="table1" name="table1">
                                <thead style="background: #3c8dbc">
                                    <tr>
                                        <th style="color: beige; width: 26px;">Id</th>
                                        <th style="color: beige; width: 72px;"> PK</th>
                                        <th style="color: beige; width: 72px;"> Name</th>
                                        <th style="color: beige; width: 72px;"> Type </th>
                                        <th style="color: beige; width: 205px;"> Taille</th>
                                        <th style="color: beige; width: 72px;"> Non NULL</th>
                                        <th style="color: beige; width: 72px;"> Valeur par Défaut</th>
                                        <th style="color: beige; width: 72px;">Commentaire</th>
                                        <th style="color: beige; width: 72px;">Option</th>
                                    </tr>
                                </thead>
                                <tfoot  style="background: #3c8dbc">
                                <tr>
                                    <th style="color: beige; width: 26px;">Id</th>
                                    <th style="color: beige; width: 72px;"> PK</th>
                                    <th style="color: beige; width: 72px;"> Name</th>
                                    <th style="color: beige; width: 72px;"> Type </th>
                                    <th style="color: beige; width: 205px;"> Taille</th>
                                    <th style="color: beige; width: 72px;"> Non NULL</th>
                                    <th style="color: beige; width: 72px;"> Valeur par Défaut</th>
                                    <th style="color: beige; width: 72px;">Commentaire</th>
                                    <th style="color: beige; width: 72px;">Option</th>
                                </tr>
                                </tfoot>
                                <tbody id="tableaucontenus1">
                                </tbody>
                            </table>
                                </div>
                                    <div class="col-md-4"><button  id="precedent" class="btn btn-danger pull-left nine_element_to_target" style="font-size: 19px;
                                        line-height: 1.333333;
                                        border-radius: 80px;
                                        margin-top: 55px;
                                        padding: 12px" type="submit"><span class='glyphicon glyphicon-circle-arrow-left'>&nbsp;Precedent&nbsp;</span></button></div>
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4"><button id="activate-step-3" class="btn btn-success pull-right ten_element_to_target" type="submit" style="padding: 10px 10px;
                                        font-size: 19px;
                                        background-color: #3c8dbc;
                                        line-height: 1.333333;
                                        border-radius: 80px;
                                        margin-top: 60px;
                                        margin-left: 150px;"
                                    ><span class='glyphicon glyphicon-circle-arrow-right'>&nbsp;Continuer&nbsp;</span></button></div>
                                </form>
                        </div>
                    </div>
                </div>



    <div id="modal-danger" class="modal modal-message modal-danger fade" style="padding-top: 250px;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="glyphicon glyphicon-exclamation-sign"></i>
                </div>
                <div class="modal-title">ERREUR</div>
                <div id="modal-body-danger" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button id="thanks" type="button" class="btn btn-danger" data-dismiss="modal">Recommencer</button>
                </div>
            </div> <!-- / .modal-content -->
        </div> <!-- / .modal-dialog -->
    </div>
    </div>
    </div>
    </div>

}