@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@import batch.model.User
@(user: User)
@main2("ITN MIGRATION",user) {
@*
* Get an `Html` object by calling the built-in Play welcome
* template and passing a `String` message.
*@
<!-- Navigation -->
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color: #3c8dbc;"> <h1 style="margin: 1px;margin-left: 130px;"> Nouvelle table avec les memes types de données batch existant </h1> </div>
<div class="panel-body">
        <div class="row form-group">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                    <li class="active"><a   id="step111" href="#step-1" >
                        <h4 class="list-group-item-heading"> </h4>
                        <p class="list-group-item-text"></p>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="row setup-content" id="step-1">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-md-12 well" style="background-color: #ffffff;">
                    <div class="text-center data-block" style="padding-bottom: 25px">
                    <h1> Configuration du Fichier </h1>
                     </div>
                    <form class="form-horizontal" id="form00" name="form00" action="@routes.Application.csvHeader()" method="POST">
                        <div class="form-group second_element_to_target">
                            <label class="control-label col-xs-12 col-sm-2" style="color: black;" for="filePath">Chemin du fichier</label>
                            <div class="col-xs-12 col-sm-7">
                                <div class='input-group'>
                                    <span class='input-group-addon'> <i class="fa fa-file"></i></span>
                                    <input type="text" class="form-control" id="filePath" name="filePath" placeholder="\\itnsa.net\path\file...">
                                </div>
                            </div>
                            <div class="col-sm-offset-0  col-sm-3">
                                <span class="help-block" style="color:#ffffff;" > Please enter the File Path . (required)</span>
                            </div>
                        </div>
                        <div class="form-group third_element_to_target" id="separatorForm">
                            <label  class="control-label col-xs-12 col-sm-2" style="color: black;" for="separator"> Séparateur :</label>
                            <div class="col-xs-12 col-sm-2">
                                <div class='input-group'>
                                    <span class='input-group-addon'> <i class="fa fa-eyedropper" aria-hidden="true"></i></span>
                                    <select
                                    class="form-control"
                                    id="separator"
                                    name="separator">
                                        <option class="blank"  value=";">;</option>
                                        <option id="separator[0]",name="separator[0]" title="point virgule" value=";">;</option>
                                        <option id="separator[1]",name="separator[1]" title="virgule" value=",">,</option>
                                        <option id="separator[2]",name="separator[2]" title="deux points" value=":">:</option>
                                        <option id="separator[3]",name="separator[3]" title="pipe" value="|">|</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <span class="help-block" style="color:#ffffff;">Please select Séparator requiered !</span>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <span class="help-block" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group fourth_element_to_target" id="numberlineForm">
                            <label  class="control-label col-xs-12 col-sm-2"    style="color: black;" for="numberLine">Number Line to Skipe :</label>
                            <div class="col-xs-12 col-sm-2">
                                <div class='input-group'>
                                    <span class='input-group-addon'> <i class="fa fa-scissors" aria-hidden="true"></i></span>
                                    <input
                                    type="number"
                                    class="form-control"
                                    id="nbLineToSkip"
                                    name="nbLineToSkip"
                                    value=""
                                    placeholder="Number of lines to Switch"
                                    min="1"
                                    max="99999"
                                    style="width: 120px;"
                                    />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <span class="help-block" style="color:#ffffff;">Pleaze Give us number of line to switch included the row of columns required !!</span>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <span class="help-block" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group second_element_to_target">
                            <label class="control-label col-xs-12 col-sm-2" style="color: black;" for="tableName">Table Name </label>
                            <div class="col-xs-12 col-sm-7">
                                <div class='input-group'>
                                    <span class='input-group-addon'> <i class="fa fa-database"></i></span>
                                    <input type="text" class="form-control" id="tableName" name="tableName" placeholder="Table Name">
                                </div>
                            </div>
                            <div class="col-sm-offset-0  col-sm-3">
                                <span class="help-block" style="color:#ffffff;" > Enter the table Name . ( NOT required)</span>
                            </div>
                        </div>
                        <div class="form-group" id="entetecsv">
                            <div class="col-xs-12">
                                <div class="col-xs-2"></div>
                                <div class="col-xs-5">
                                    <label style="color: black;margin-right: 20px;"> Est ce que votre fichier contient une entete ? </label>
                                    <input id="entete" name="entete" type="checkbox" checked=""  data-on-text="Yes"  data-off-text="No">
                                </div>
                            </div>
                        </div>
                        <div id="csvNoHead" class="row">
                            <div class="col-xs-12 col-sm-2"></div>
                            <div class="col-xs-12 col-sm-8">
                                <table class="table table-striped" cellspacing="0" width="100%"id="csvTableNoHead" name="csvTableNoHead">
                                    <thead style="background: #3c8dbc;">
                                        <tr>
                                            <th> Column Name</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody id="csvTableNoHeadContenu">
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-12 col-sm-2"></div>
                        </div>


                            <div class="table-responsive">
                            <table id="latestTabId1" class="table no-margin" >
                                <thead>
                                    <tr>
                                        <th width="4%">Job Id</th>
                                        <th width="18%"> Date Création</th>
                                        <th width="16%"> Created by </th>
                                        <th width="20%"> File </th>
                                        <th width="2%">Nb line skiped</th>
                                        <th width="5%"> Table </th>
                                        <th width="5%"> Date Lancement</th>
                                        <th width="8%"> Executed by </th>
                                        <th width="4%"> Exectued </th>
                                        <th width="6%">  Resultat </th>
                                        <th width="2%">Nombre de lines ajouter</th>
                                        <th width="2%">Nombre de lines Non ajouter </th>
                                        <th width="2%"> More Détail  </th>
                                    </tr>
                                </thead>
                                <tbody id="latestTab1">
                                </tbody>
                            </table>
                                </div>


                        <button id="validateExisteCsv" class="btn btn-primary btn-success pull-right eight_element_to_target"  type="submit" style="padding: 10px 70px;background-color: #3c8dbc;"><span class='glyphicon glyphicon-ok'>&nbsp;Valider&nbsp;</span></button>
                        </form>


                        <div class="col-sm-2 col-md-4">
                        </div>

                </div>
            </div>
        </div>



    <div id="myModalxy" class="modal modal-fullscreen fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog " style="width:1124px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Report de batch </h4>
                </div>
                <div class="modal-body" id="resume1">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>




    </div>
    </div>
    </div>
    <script src="@routes.Assets.versioned("template/plugins/jQuery/jquery-2.2.3.min.js")"></script>
    <script src="@routes.Assets.versioned("stylesheets/assets/js/jquery.dataTables.min.js")"></script>
    <script src="@routes.Assets.versioned("stylesheets/assets/js/step2.js")" type="text/javascript"></script>

}
