@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@(message: model.UploadResult,columns : List[String])

@main("TITLE") {
@*
* Get an `Html` object by calling the built-in Play welcome
* template and passing a `String` message.
*@


<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Parametrages for the File NAME =( @message.getName()) uploaded</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row"> &nbsp;Nom de la table * : <input type="text"  name = "tableName" /> </div>
        <div>
            <input type="text" maxlength="10" hidden="Table name" />
            <table class="table">
                <thead class="thead-inverse">
                <tr>
                    <th>Colomun Name</th>
                    <th>Colomun Type *</th>
                    <th>Colomun Size *</th>
                    <th>Colomun Selected *</th>
                </tr>
                </thead>
                <tbody>
                @for(column <- columns){
                <tr>
                    <th scope="row">@column</th>
                    <td><div class="btn-group">
                        <select class="btn btn-default dropdown-toggle btn-select">
                            <option value="Integer">INT</option>
                            <option value="String">VARCHAR</option>
                            <option value="Date">DATE</option>
                        </select>
                    <td><input type="text" maxlength="3" /></td>
                    <td><label class="checkbox-inline"><input type="checkbox" value="">ADD</label></td>
                </tr>
                }

                </tbody>
            </table>

        </div>

        </div>
    </section>
}

