 <Header >

           <h2><a href="#"><img class="img-responsive" src="@routes.Assets.versioned("images/logo.png")" style="width:350px;height:100px;" alt="" >
            </a></h2>
    </Header>



    <!-- Progress Bar
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            <span class="sr-only">60% Complete</span>
        </div>
    </div> -->

    <!-- Upload Finished
    <div class="js-upload-finished">
        <h3>Processed files</h3>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>
        </div>
    </div>-->

    <footer>
        <h2><a href="http://tutorialzine.com/2013/05/mini-ajax-file-upload-form/"><i>ITN</i> ( une société du groupe gfi)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; © Copyright 2016 ITN  - Mentions Légales - Garance "cartoon" avec CLEVA, Solution d' Assurance</a></h2>


    </footer>

    <!-- JavaScript Includes -->


